/* load the default Redmine stylesheet */
@import url("../../../stylesheets/application.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800");
.input_tiny {
  width: 50px;
}

.input_small {
  width: 100px;
}

.input_medium {
  width: 150px;
}

.input_large {
  width: 200px;
}

.input_xlarge {
  width: 250px;
}

.input_xxlarge {
  width: 300px;
}

.input_full {
  width: 100%;
}

.input_full_wrap {
  display: block;
  padding-right: 8px;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

input,
button,
a.button,
select,
textarea {
  -moz-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}
input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -moz-box-shadow: #81c2dc 0 0 5px 0;
  -webkit-box-shadow: #81c2dc 0 0 5px 0;
  box-shadow: #81c2dc 0 0 5px 0;
  z-index: 1;
}

input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background: #d92e47;
  border: none;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 0 15px;
  line-height: 2;
  text-shadow: none;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  *padding-top: 2px;
  *padding-bottom: 0;
}
button:hover, button:active,
a.button:hover,
a.button:active,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="button"]:hover,
input[type="button"]:active {
  background: #fff;
  color: #d92e47;
}
button::-moz-focus-inner,
a.button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button + a,
a.button + a,
input[type="reset"] + a,
input[type="submit"] + a,
input[type="button"] + a {
  font-size: 16px;
  padding: 0 15px;
  line-height: 2;
}

a.button {
  *padding-bottom: 3px;
}

button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  height: 1.8em;
  vertical-align: top;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee;
}
.box textarea, .box
select, .box
input[type="date"], .box
input[type="datetime"], .box
input[type="datetime-local"], .box
input[type="email"], .box
input[type="month"], .box
input[type="number"], .box
input[type="password"], .box
input[type="search"], .box
input[type="tel"], .box
input[type="text"], .box
input[type="time"], .box
input[type="url"], .box
input[type="week"] {
  border: 1px solid #DDD;
}
fieldset#filters td.values textarea, fieldset#filters td.values
select, fieldset#filters td.values
input[type="date"], fieldset#filters td.values
input[type="datetime"], fieldset#filters td.values
input[type="datetime-local"], fieldset#filters td.values
input[type="email"], fieldset#filters td.values
input[type="month"], fieldset#filters td.values
input[type="number"], fieldset#filters td.values
input[type="password"], fieldset#filters td.values
input[type="search"], fieldset#filters td.values
input[type="tel"], fieldset#filters td.values
input[type="text"], fieldset#filters td.values
input[type="time"], fieldset#filters td.values
input[type="url"], fieldset#filters td.values
input[type="week"] {
  height: 1.8em;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888888;
  cursor: default;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888888;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888888;
}

input.placeholder_text,
textarea.placeholder_text {
  color: #888888;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

select[size="0"],
select[size="1"] {
  height: 1.8em;
  *height: auto;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px / 17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px;
  }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666666;
    border-color: #666666;
  }
}
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.ie6_button,
* html button,
* html a.button {
  background: #dddddd url('/images/button.png?1424680612') repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px / 1.2 Arial, sans-serif;
  padding: 2px 10px 0;
  text-decoration: none;
  overflow: visible;
  vertical-align: top;
  width: auto;
}

* html a.button {
  position: relative;
  top: 3px;
  padding-bottom: 2px;
}

* html button {
  padding-top: 1px;
  padding-bottom: 1px;
}

.ie6_input,
* html textarea,
* html select {
  background: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  padding: 2px 3px 1px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  vertical-align: top;
}

* html select {
  margin-top: 1px;
}

.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888888;
}

.ie6_input_disabled {
  background: #eeeeee;
}

tr.odd.priority-highest,
table.list tbody tr.odd.priority-highest:hover {
  color: #900;
  font-weight: bold;
}

tr.odd.priority-highest {
  background: #ffc4c4;
}

tr.even.priority-highest,
table.list tbody tr.even.priority-highest:hover {
  color: #900;
  font-weight: bold;
}

tr.even.priority-highest {
  background: #ffd4d4;
}

tr.priority-highest a,
tr.priority-highest:hover a {
  color: #900;
}

tr.odd.priority-highest td,
tr.even.priority-highest td {
  border-color: #ffb4b4;
}

tr.odd.priority-high2,
table.list tbody tr.odd.priority-high2:hover {
  color: #900;
}

tr.odd.priority-high2 {
  background: #ffc4c4;
}

tr.even.priority-high2,
table.list tbody tr.even.priority-high2:hover {
  color: #900;
}

tr.even.priority-high2 {
  background: #ffd4d4;
}

tr.priority-high2 a {
  color: #900;
}

tr.odd.priority-high2 td,
tr.even.priority-high2 td {
  border-color: #ffb4b4;
}

tr.odd.priority-high3,
table.list tbody tr.odd.priority-high3:hover {
  color: #900;
}

tr.odd.priority-high3 {
  background: #fee;
}

tr.even.priority-high3,
table.list tbody tr.even.priority-high3:hover {
  color: #900;
}

tr.even.priority-high3 {
  background: #fff2f2;
}

tr.priority-high3 a {
  color: #900;
}

tr.odd.priority-high3 td,
tr.even.priority-high3 td {
  border-color: #fcc;
}

tr.odd.priority-lowest,
table.list tbody tr.odd.priority-lowest:hover {
  color: #559;
}

tr.odd.priority-lowest {
  background: #eaf7ff;
}

tr.even.priority-lowest,
table.list tbody tr.even.priority-lowest:hover {
  color: #559;
}

tr.even.priority-lowest {
  background: #f2faff;
}

tr.priority-lowest a {
  color: #559;
}

tr.odd.priority-lowest td,
tr.even.priority-lowest td {
  border-color: #add7f3;
}

body {
  font: normal 14px/1.5 'Open Sans', sans-serif;
  font-size: 14px;
  color: #484848;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

a, a:link, a:visited {
  color: #d92e47;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
a:hover, a:link:hover, a:visited:hover {
  text-decoration: none;
  color: #ed9aa6;
}
th a, th a:link, th a:visited {
  color: #484848;
}

th {
  font-weight: 300;
}

code {
  padding: 0.2em 0.4em;
  font-size: 85%;
  background-color: #fafafa;
  border: 1px solid #e2e2e2;
}

#top-menu {
  background: #2d2d2d;
  height: auto;
  *zoom: 1;
  border-bottom: 1px solid #393939;
}
#top-menu:after {
  content: "";
  display: table;
  clear: both;
}
#top-menu li {
  padding: 0 10px;
}
#top-menu li a {
  font-weight: normal;
  line-height: 2.5;
}
#top-menu #loggedas {
  line-height: 2.5;
}

#header {
  height: auto;
  min-height: 4em;
  background: #202020;
  padding: 14px 17px 0 17px;
}
#header > h1,
#header > h1:before {
  display: inline-block;
}
#header > h1 {
  margin: 0 20px 2px 9px;
}
#header > h1:before {
  content: url("../images/logo.png");
  vertical-align: middle;
  margin: 0 29px 0 0;
}

#quick-search select {
  padding: 5px 15px 5px 5px;
  height: auto;
  margin-left: 8px;
}
#quick-search input {
  background: #2d2d2d;
  border: none;
  color: #FFF;
  padding: 0px 6px;
  height: 2.4em;
  margin-left: 4px;
  display: inline-block;
}
#quick-search label {
  line-height: 2.1;
}

#main-menu {
  position: relative;
  left: 0;
  margin-right: 0;
  *zoom: 1;
}
#main-menu:after {
  content: "";
  display: table;
  clear: both;
}
#main-menu li a {
  font-weight: 300;
  border-top: 3px solid #202020;
  padding: 4px 15px 7px;
  -moz-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}
#main-menu li a.selected, #main-menu li a:hover {
  border-top: 3px solid #d92e47;
  background: transparent;
}
#main-menu li a.selected {
  font-weight: 400;
  background: #fff;
}

#main {
  *zoom: 1;
}
#main:after {
  content: "";
  display: table;
  clear: both;
}

#content {
  width: 75%;
  padding: 15px 20px 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#sidebar {
  width: 22%;
  margin-left: 3%;
}
#sidebar h3 {
  margin-top: 23px;
}

div.issue {
  background: #f4f4f4;
  border: none;
  padding: 3px 15px;
}

.subject h3 {
  font-size: 26px;
  line-height: 2;
}

#errorExplanation, div.flash, .nodata, .warning, .conflict {
  border: 1px solid;
  padding: 2px 4px 3px 30px;
}

#update {
  position: fixed;
  width: 80%;
  max-width: 800px;
  max-height: 80%;
  overflow: auto;
  background: #FFF;
  padding: 10px 20px 15px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  margin-left: -40%;
  left: 50%;
  top: 10%;
  z-index: 20;
}
@media (min-width: 1000px) {
  #update {
    margin-left: -400px;
  }
}
#update .update-close {
  float: right;
  border: 1px solid #484848;
  line-height: 0.5;
  font-size: 25px;
  padding: 0 1px 6px;
  font-weight: 300;
  margin-right: -10px;
  cursor: pointer;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#update .update-close:hover {
  background-color: #484848;
  color: #fff;
}
#update fieldset.tabular legend {
  cursor: pointer;
  color: #d92e47;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
#update fieldset.tabular legend:hover {
  color: #ed9aa6;
}
#update fieldset.tabular legend small,
#update fieldset.tabular div,
#update fieldset.tabular p {
  display: none;
}
#update fieldset.tabular.show-children legend small {
  display: inline;
}
#update fieldset.tabular.show-children div,
#update fieldset.tabular.show-children p {
  display: block;
}

input#issue_subject,
input#time_entry_comments,
.tabular textarea {
  width: 98.4%;
  max-width: 99%;
}

select#time_entry_activity_id {
  width: 95.7%;
}

#attachments_fields span {
  white-space: initial;
}
#attachments_fields input {
  width: 30%;
}
#attachments_fields input + input.description, #attachments_fields input + label {
  width: 60%;
}
@media (max-width: 700px) {
  #attachments_fields input + input.description, #attachments_fields input + label {
    display: block;
    margin-left: 0;
  }
}

table.query-columns td.buttons input[type=button] {
  padding: 0;
}

select[multiple="multiple"] {
  height: auto !important;
}
